<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <!--系统初始密码-->
    <add key="InitPassword" value="111"/>
    <!--数据库类型-->
    <add key="DatabaseType" value="MSSQL"/>
    <!--允许上传的文件类型-->
    <add key="UploadFileType" value="jpg,png,gif,bmp,zip,rar,7z,doc,docx,xls,xlsx,ppt,pptx,pdf,txt"/>
  </appSettings>
  <connectionStrings>
    <add name="PlatformConnection" providerName="System.Data.SqlClient" connectionString="Data Source=.;Initial Catalog=RoadFlowWebForm;UID=sa;PWD=111"/>
    <add name="PlatformConnectionOracle" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=127.0.0.1)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=xe))); User Id=system; Password=111"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <pages validateRequest="false" enableViewState="false" enableEventValidation="false" enableViewStateMac="false"></pages>
    <httpRuntime requestValidationMode="2.0" maxQueryStringLength="20480" maxRequestLength="102400" />
    <sessionState mode="StateServer" stateConnectionString="tcpip=127.0.0.1:42424" stateNetworkTimeout="40" timeout="20"/>
  </system.web>
</configuration>
